*{
  margin: 0em;
  padding: 0em;
}
body{
  width:100%;
  box-sizing: border-box;

}


#cards{
  margin: 0.1em 1.8em;
}
.addre{
  text-align:left;
  margin:0em 1em 1em 1em ;
 font-size: 1.5em;

}
.addre:hover{
  background-color: rgb(201, 201, 120)
}

#myInput {
   background-image: url('https://img.icons8.com/fluency-systems-regular/20/000000/search--v1.png'); 
   background-position: 10px 12px;
   background-repeat: no-repeat;
   outline: none;
   font-size: 16px;
   margin: 0.8em 3em;
   padding: 0.8em 4.3em 0.8em 3em;
   border: 1px solid #ddd;
   margin-bottom: 12px;
   width: 40%;
}


@media only screen and (max-width: 600px) {
  .main{
    display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
  }
  .container{
    height: 35em;
    overflow-y: scroll;
  }
}